<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="../assets//scss/all.scss">
  <title>Glasses Website</title>
</head>

<body>
  <%- include('./layout/header'); -%>

    <div class="banner py-296" data-aos="fade-up">
      <div class="container text-end d-flex flex-column py-296" data-aos="fade-up">
        <p class="fs-3 text-secondary text" data-aos="fade-up">Promise-Desert 2020 早春系列</p>
        <h2 class="fs-1 fw-bold text-secondary slogan" data-aos="fade-up">看得清，才能看得遠</h2>
        <a href="#" class="btn fs-5 fw-medium text-white bg-primary align-self-end" data-aos="fade-up">立即購買</a>
      </div>
    </div>



    <div class="feature bg-pink py-80">
      <div class="container  text-center" data-aos="fade-up">
          <h3 class="fs-2 text-secondary fw-bold mb-32 title" data-aos="fade-up">用專業的心，做專業的事</h3>
          <ul class="list d-flex gap-6 flex-wrap jc-ct">
              <li class="item" data-aos="fade-up">
                  <img class="itemImg mb-6" src="/assets/images/home-section2-1.png" alt="單一價格">
                  <h4 class="subtitle fs-4 fw-bold text-secondary mb-8">單一價格</h4>
                  <p class="detail text-start">無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
              </li>
              <li class="item" data-aos="fade-up">
                  <img class="itemImg mb-6" src="/assets/images/home-section2-2.png" alt="20 分鐘即可取件">
                  <h4 class="subtitle fs-4 fw-bold text-secondary mb-8">20 分鐘即可取件</h4>
                  <p class="detail text-start">為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
              </li>
              <li class="item" data-aos="fade-up">
                  <img class="itemImg mb-6" src="/assets/images/home-section2-3.png" alt="安心售後服務">
                  <h4 class="subtitle fs-4 fw-bold text-secondary mb-8">安心售後服務</h4>
                  <p class="detail text-start">我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
              </li>
              <li class="item" data-aos="fade-up">
                  <img class="itemImg mb-6" src="/assets/images/home-sectioin2-4.png" alt="關於鏡片">
                  <h4 class="subtitle fs-4 fw-bold text-secondary mb-8">關於鏡片</h4>
                  <p class="detail text-start">使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
              </li>
          </ul>
      </div>
  </div>

    <div class="series py-80" data-aos="fade-up">
      <div class="container text-center">
        <h3 class="fs-2 text-secondary fw-bold mb-48 title" data-aos="fade-up">經典系列鏡框</h3>
        <ul class="detail d-flex gap-6 flex-wrap jc-ct">
          <li class="itemSeries" data-aos="fade-up">
            <img src="/assets/images/home-section3-1.png" alt="OPTICAL" class="mb-8">
            <h4 class="subtitle fs-2 fw-bolder text-italic text-primary text-robot">OPTICAL</h4>
          </li>
          <li class="itemSeries" data-aos="fade-up">
            <img src="/assets/images/home-section3-2.png" alt="SUNGLASSES" class="mb-8">
            <h4 class="subtitle fs-2 fw-bolder text-italic text-primary text-robot">SUNGLASSES</h4>
          </li>
          <li class="itemSeries" data-aos="fade-up">
            <img src="/assets/images/home-section3-3.png" alt="FUNCTIONAL" class="mb-8">
            <h4 class="subtitle fs-2 fw-bolder text-italic text-primary text-robot">FUNCTIONAL</h4>
          </li>
        </ul>
      </div>
    </div>


    <div class="design py-80" data-aos="fade-up">
      <div class="container text-center" data-aos="fade-up">
          <h3 class="fs-2 text-white fw-bold mb-48 title">聯名設計鏡框</h3>
          <ul class="detail d-flex flex-wrap">
              <li class="itemDesign" data-aos="fade-up">
                  <div class="itemImg img_1" data-aos="fade-up"></div>
                  <h4 class="subtitle fs-2 text-primary text-robot text-italic bg-white py-8" data-aos="fade-up">DOUBLE A+</h4>
              </li>
              <li class="itemDesign" data-aos="fade-up">
                  <div class="itemImg img_2" data-aos="fade-up"></div>
                  <h4 class="subtitle fs-2 text-primary text-robot text-italic bg-white py-8" data-aos="fade-up">YOUTH</h4>
              </li>
          </ul>
      </div>
  </div>


  <div class="recommend py-80">
    <div class="container text-center" data-aos="fade-up">
        <h3 class="fs-2 fw-bold mb-48 title text-secondary" data-aos="fade-up">顧客推薦</h3>
        <ul class="list d-flex flex-wrap gap-6 jc-ct">
            <li class="item text-start " data-aos="fade-up">
                <img class="itemImg" src="/assets/images/home-section5-1.png" alt="Jessy">
                <div class="textArea p-16 d-flex flex-column">
                    <p class="fw-medium" data-aos="fade-up">Jessy</p>
                    <p class="content" data-aos="fade-up">眼鏡品質優良，下次還會想來這邊購買！</p>
                    <time class="fs-7 text-gray" data-aos="fade-up">2021/06/20</time>
                </div>

            </li>
            <li class="item text-start " data-aos="fade-up">
                <img class="itemImg" src="/assets/images/home-section5-2.png" alt="凱倫" data-aos="fade-up">
                <div class="textArea p-16 d-flex flex-column">
                    <p class="fw-medium" data-aos="fade-up">凱倫</p>
                    <p class="content" data-aos="fade-up">做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</p>
                    <time class="fs-7 text-gray" data-aos="fade-up">2021/04/18</time>
                </div>
            </li>
            <li class="item text-start " data-aos="fade-up">
                <img class="itemImg" src="/assets/images/home-section5-3.png" alt="悠悠" data-aos="fade-up"> 
                <div class="textArea p-16 d-flex flex-column">
                    <p class="fw-medium" data-aos="fade-up">悠悠</p>
                    <p class="content" data-aos="fade-up">謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</p>
                    <time class="fs-7 text-gray" data-aos="fade-up">2020/12/25</time>
                </div>
            </li>
            <li class="item text-start " data-aos="fade-up">
                <img class="itemImg" src="/assets/images/home-section5-4.png" alt="Kyuan" data-aos="fade-up">
                <div class="textArea p-16 d-flex flex-column">
                    <p class="fw-medium" data-aos="fade-up">Kyuan</p>
                    <p class="content" data-aos="fade-up">服務很好，品質沒有任何問題，非常喜歡。</p>
                    <time class="fs-7 text-gray" data-aos="fade-up">2020/10/31</time>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="contact text-center bg-pink py-80">
  <div class="container " data-aos="fade-up" >
      <h3 class="fs-2 fw-bold mb-48 title text-secondary title" data-aos="fade-up">聯絡我們</h3>
      <form class="d-flex flex-column text-start">
          <p class="fs-5 mb-24" data-aos="fade-up">我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。</p>
          <div class="d-flex flex-column mb-16">
              <label for="name" class="mb-8" data-aos="fade-up">姓名</label>
              <input class="py-6 px-12 bg-transparent border-1" type="text" id="name" placeholder="陳小明">
          </div>
          <div class="d-flex flex-column mb-16">
              <label for="phone" class="mb-8" data-aos="fade-up">聯絡電話</label>
              <input class="py-6 px-12 bg-transparent border-1" type="tel" id="phone" placeholder="0912-345-678">
          </div>
          <div class="d-flex flex-column mb-16">
              <label for="email" class="mb-8" data-aos="fade-up">電子郵件</label>
              <input class="py-6 px-12 bg-transparent border-1" type="email" id="email" placeholder="example@email.com">
          </div>
          <div class="d-flex flex-column mb-16">
            <label for="suggest" class="mb-8 " data-aos="fade-up">意見反應</label>
              <textarea placeholder="請輸入您的意見" class="pt-1 px-12 suggest bg-transparent" name="suggest" id="suggest" cols="30"
                  rows="10"></textarea>

          </div>
          <div class="d-flex align-items-center gap-1 mb-48 privacy" data-aos="fade-up">
              <input type="checkbox" id="checkPrivacy" class="checkPrivacy">
              <label for="checkPrivacy">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</label>

          </div>
          <a href="#" class="submit text-center py-16 bg-primary align-self-center text-white">確認送出</a>
      </form>

  </div>

</div>





    <%- include('./layout/footer'); -%>
      <%- include('./layout/aos'); -%>


        <script type="module" src="../main.js"></script>
</body>

</html>