<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&family=Roboto:ital,wght@0,400;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="../assets//scss/all.scss">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>
    <%- include('./layout/header'); -%>

        <div class="blogNav bg-secondary">
            <div class="container d-flex jc-sb ai-ct">
                <ul class="nav_main d-flex jc-sb">
                    <li class="nav_item jc-sb"><a class="fs-5 fw-bold text-white" href="blog.html">最新消息</a></li>
                    <li class="nav_item"><a class="fs-5 fw-bold text-white" href="special.html">特別企劃</a></li>
                    <li class="nav_item"><a class="fs-5 fw-bold text-white" href="#">新品上市</a></li>
                    <li><a class="fs-5 fw-bold text-white" href="#">鏡框小知識</a></li>
                </ul>
                <a class="icon text-white" href="#"><i class="icon icon-search icon-1"></i></a>
            </div>
        </div>


        <div class="py-80">
            特別企劃
        </div>



        <%- include('./layout/footer'); -%>

            <script type="module" src="../main.js"></script>
</body>

</html>